*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: bisque;
    display: flex;
    align-items: center;
    
    flex-direction: column;
}
.main h1{
    margin:150px 0 50px 0;
    font-size: 35px;
    color: rgb(97, 159, 241);
}
input{
    text-align: center;
    padding: 15px 20px;
    font-size: 40px;
    width: 600px;
    border-radius: 5px;
    border: 1px solid beige;
    background-color: beige;
    color: blue;
}

.bouton{
    width: 600px;
    text-align: center;
    height: 150px;
}
.bouton button{
    color: pink;
    padding:15px 20px;
    font-size: 25px;
    width: 180px;
    margin: 35px 25px;
}
#submit{
    background-color: rgb(208, 228, 26);
    color: rgb(39, 99, 212);
    border: 0;
    cursor: pointer;
    transition: 0.5s;
}

#reset{
    background-color: red;
    color: white;
    border: 0;
    cursor: pointer;
    transition: 0.5s;

}
#reset:hover,#submit:hover{
    background-color: aliceblue;
    color: rgb(39, 99, 212);

}
.main p{
    font-size: 62px;
    margin-top: 20px;
    color:rgb(167, 184, 199);
   
    
}


@media screen and (max-width:800px){
    

    .main h1{
        margin:130px 0 30px 0;
        font-size: 35px;
        color: rgb(97, 159, 241);
    }
    input{
        text-align: center;
        padding: 10px 15px;
        font-size: 25px;
        width: 500px;
        border-radius: 5px;
        border: 1px solid beige;
        background-color: beige;
        color: blue;
    }
    
    .bouton{
        
        text-align: center;
        height: 100px;
    }
    .bouton button{
        color: pink;
        padding:15px 25px;
        font-size: 25px;
        width: 130px;
        
        margin: 35px 30px;
    }
    #submit{
        background-color: rgb(208, 228, 26);
        color: rgb(39, 99, 212);
        border: 0;
        cursor: pointer;
        transition: 0.5s;
    }
    
    #reset{
        background-color: red;
        color: white;
        border: 0;
        cursor: pointer;
        transition: 0.5s;
    
    }
    #reset:hover,#submit:hover{
        background-color: aliceblue;
        color: rgb(39, 99, 212);
    
    }
    .main p{
        font-size: 48px;
        margin-top: 60px;
        color:rgb(167, 184, 199);
       
        
    }
}



@media screen and (max-width:500px){
    

    .main h1{
        margin:80px 0 30px 0;
        font-size: 25px;
        color: rgb(97, 159, 241);
    }
    input{
        text-align: center;
        padding: 10px 15px;
        font-size: 20px;
        width: 250px;
        border-radius: 5px;
        border: 1px solid beige;
        background-color: beige;
        color: blue;
    }
    
    .bouton{
        
        text-align: center;
        height: 100px;
    }
    .bouton button{
        color: pink;
        padding:5px 10px;
        font-size: 15px;
        width: 70px;
        
        margin: 25px 10px;
    }
    #submit{
        background-color: rgb(208, 228, 26);
        color: rgb(39, 99, 212);
        border: 0;
        cursor: pointer;
        transition: 0.5s;
    }
    
    #reset{
        background-color: red;
        color: white;
        border: 0;
        cursor: pointer;
        transition: 0.5s;
    
    }
    #reset:hover,#submit:hover{
        background-color: aliceblue;
        color: rgb(39, 99, 212);
    
    }
    .main p{
        font-size: 32px;
        margin-top: 10px;
        color:rgb(167, 184, 199);
       
        
    }
}
